body{
	font-family: 'Montserrat', sans-comic;
	align: center;
}
.align {
	float: left;
	display: block;
}
div#blue-square{
	background: #0EA7E0;
	height: 150px;
	width: 300px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-bottom: 0px;
}
div#white-square{
	width: 300px;
	height: 700px;
	background: #EFEFEF;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

.text-al-up {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.img {
    border-radius: 50%;
    padding-top: 85px;
    padding-left: 100px;
    padding-bottom: 75px;
    padding-right: 100px;
}
.margintop{
	margin-top: 15px
}
.contact{
	display: flex;
	justify-content: space-around;
}
hr.style {
	width: 50px;
	height: 10px;
	background: #0EA7E0;
	border: 0px;
}
.margin{
	padding-right: 15px;
	padding-left: 10px;
}
p#paragraph{
	text-align: justify;
}
h1{
	text-align: center;
}
.alignv{
	display: flex;
	flex-direction: column;
	align-items:center;
	padding-top: 16px;
}
.padtop{
	padding-top: 20px;
}
table{
	width: 100%;
	text-align: center;
}
